@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab&display=swap');

.book-panel {
  width: 1200px;
  height: 120px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin: 30px auto;
}

.category {
  width: 49px;
  height: 18px;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-three);
  margin-left: 15px;
  margin-top: 30px;
}

.title {
  width: 197px;
  height: 29px;
  font-family: RobotoSlab, sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-three);
  margin-left: 15px;
}

button {
  padding-right: 10px;
  background-color: white;
  border: none;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #4386bf;
  cursor: pointer;
}

.comments {
  width: 73px;
  height: 19px;
  font-family: RobotoSlab, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  border-right: solid grey 1px;
}

.remove {
  width: 54px;
  height: 19px;
  font-family: RobotoSlab, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  margin-left: 15px;
  border-right: solid grey 1px;
}

.edit {
  width: 27px;
  height: 19px;
  font-family: RobotoSlab, sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  margin-left: 5px;
}
