.category-filter {
  width: 1200px;

  /* margin-bottom: 10px; */
  font-family: Montserrat, sans-serif;
  background-color: white;
  border: solid 1px #e8e8e8;
  height: 45px;

  /* margin-left: 50px; */
  margin: 30px auto;
  font-size: 18px;
}

.select {
  width: 60%;
  height: 45px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin-left: 150px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
